# Node.js ve npm/Yarn
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# React Native önbellek ve geçici dosyalar
.rpt2_cache/
*.tsbuildinfo
*.log
*.log.*
*.bak
*.swp

# Metro Bundler
.metro/

# Ortam deðiþkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/*.pbxproj
ios/*.xcworkspace
ios/*.xcodeproj
*.xcuserdatad
*.xcworkspacedata
*.xcscheme
*.DS_Store

# Android
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/*.iml
android/local.properties
android/gradle/
android/gradlew
android/gradlew.bat
android/*.keystore
*.apk
*.ap_
*.aab

# Expo (eðer Expo kullanýyorsanýz)
.expo/
web-build/
dist/

# Test dosyalarý
coverage/
*.testresult

# Editör ve IDE dosyalarý
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS dosyalarý
.DS_Store

# Diðer geçici dosyalar
tmp/
temp/
*.tmp
*.bak
*.swp
*~

# Derlenmiþ çýktýlar
dist/
build/

# Medya dosyalarý
*.mp3
*.mp4
*.wav
*.ogg
*.aac
*.m4a
# Medya dosyalarýnýn bulunduðu yaygýn dizinler (örneðin, assets veya resources)
assets/*.mp3
assets/*.mp4
assets/*.wav
assets/*.ogg
resources/*.mp3
resources/*.mp4
resources/*.wav
resources/*.ogg